* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

p, h1 {
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #E5E5E5;
}

.menu-top {
  background-color: #4D4D4D;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-top .menu {
  display: flex;
  margin: 0;
  list-style-type: none;
  padding: 0;
}
.menu-top .menu__item {
  margin-right: 15px;
}
.menu-top .menu__link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap {
  width: 1338px;
  margin: 0 auto;
}

header {
  background-color: #E74C3C;
}

.header {
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__text h1 {
  color: #FFFFFF;
  margin: 0;
  font-size: 24px;
}
.header__text p {
  margin: 0;
  color: #FFFFFF;
  font-size: 14px;
}
.header .bonus {
  background-color: #FFFFFF;
  width: 154px;
  height: 60px;
  border-radius: 10px;
}
.header .bonus__text {
  position: absolute;
  top: 48px;
  left: 1491px;
}
.header .bonus__text h1 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  margin: 0;
}
.header .bonus__text p {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  margin: 0;
}

.main-menu {
  padding-top: 15px;
}

.block-left {
  width: 331px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.block-left .block__city {
  width: 119px;
  height: 20px;
  background: #BC342D;
  border-radius: 5px;
  text-align: center;
}
.block-left .block__city a {
  text-decoration: none;
  font-size: 12px;
  color: #FFFFFF;
}
.block-left .block__logo {
  display: flex;
  align-items: center;
}
.block-left .block__logo p {
  font-size: 24px;
  margin: 0;
}

.menu-main {
  display: flex;
  margin: 0;
  padding: 0;
  width: 818px;
  justify-content: space-between;
}
.menu-main__item {
  list-style-type: none;
}
.menu-main__link {
  text-decoration: none;
  color: #323232;
  font-size: 16px;
  line-height: 18.75px;
}

.block-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.banner-slide {
  margin: 10px;
}

.section-banner {
  margin-bottom: 49px;
}

.right {
  width: 562px;
}
.right__slider1 {
  width: 562px;
  height: 173px;
  background-color: #293747;
  border-radius: 10px;
}
.right__slider1 p {
  color: #fff;
  padding-left: 15px;
  font-weight: 300;
  padding-top: 10px;
  font-size: 18px;
}
.right__slider2 {
  width: 562px;
  height: 173px;
  background-color: #293747;
  border-radius: 15px;
}
.right__slider3 {
  width: 562px;
  height: 173px;
  background-color: #293747;
  border-radius: 15px;
}

.left {
  width: 700px;
}
.left__slider1 {
  background-image: url("../img/frends.png");
  width: 173px;
  height: 173px;
  background-position: center;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  margin: 0 15px;
  border-radius: 10px;
}
.left__slider2 {
  background-image: url("../img/napit.png");
  width: 173px;
  height: 173px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #FFFFFF;
  margin: 0 15px;
  border-radius: 10px;
}
.left__slider3 {
  background-image: url("../img/bodyrepair.png");
  width: 173px;
  height: 173px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #FFFFFF;
  margin: 0 15px;
  border-radius: 10px;
}
.left__slider4 {
  background-image: url("../img/frends.png");
  width: 173px;
  height: 173px;
  background-position: center;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  margin: 0 15px;
  border-radius: 10px;
}
.left__slider5 {
  width: 173px;
  height: 173px;
  background-image: url("../img/frends.png");
  background-position: center;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  margin: 0 15px;
  border-radius: 10px;
}
.left__slider6 {
  background-image: url("../img/frends.png");
  width: 173px;
  height: 173px;
  background-position: center;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  margin: 0 15px;
  border-radius: 10px;
}

.calculation {
  background: #fff;
  border-radius: 10px;
  padding: 10px 0 30px 11px;
  display: flex;
  height: 437px;
  margin-top: 20px;
}

form p {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 5px;
  padding-bottom: 8px;
}

.marka, .rem, .foto {
  margin-top: 15px;
}

.img {
  margin-left: 6px;
  padding-left: 13px;
  margin-bottom: 15px;
}

select {
  width: 250px;
  height: 27px;
  border: 1px solid red;
  margin-right: 25px;
  border-radius: 5px;
  margin-top: 10px;
}

label {
  margin-bottom: 16px;
  margin-right: 10px;
  padding-left: 25px;
}

.radio-box {
  display: none;
  padding-left: 20px;
}

.radio-style {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: -20px;
  border: 2px solid #BC342D;
  border-radius: 5px;
}

.radio-box:checked + .radio-style::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #0c0c0c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
}

.img-files {
  width: 116px;
  height: 28px;
  background-color: #BC342D;
  display: flex;
  border-radius: 5px;
  font-size: 12px;
  color: white;
  align-items: center;
}

.img-files input {
  display: none;
}

.textarea {
  outline: none;
  color: #323232;
  border-radius: 10px;
  border: 1px solid #BC342D;
  height: 121px;
  width: 643px;
  left: 307px;
  top: 758px;
  resize: none;
}

.text {
  position: relative;
  width: 643px;
  margin-left: 5px;
}

.btn {
  height: 28px;
  width: 116px;
  position: absolute;
  bottom: 10px;
  border-radius: 5px;
  background-color: #BC342D;
  right: 10px;
  color: #FFFFFF;
  border: none;
  outline: none;
}

.calculation__raschet {
  padding-right: 20px;
}

.work {
  position: relative;
  padding-right: 606px;
  margin-top: 15px;
}

.calculation__work h1 {
  font-size: 18px;
}
.calculation__work .crug, .calculation__work .finish {
  width: 40px;
  height: 40px;
  background-color: #293747;
  border-radius: 50%;
  text-align: center;
  padding-top: 25%;
  color: #FFFFFF;
}
.calculation__work p {
  position: absolute;
  top: 0;
  right: 10px;
  margin-left: 52px;
  padding: 0;
  margin-top: 0;
}
.calculation__work .one {
  top: 60px;
}
.calculation__work .two {
  top: 120px;
}
.calculation__work .there {
  top: 180px;
}
.calculation__work .four {
  top: 236px;
}
.calculation__work .five {
  top: 307px;
}
.calculation__work .finish {
  padding-top: 12px;
}
.calculation__work .line {
  border-left: 2px solid #293747;
  height: 22px;
  margin-left: 50%;
}

.section-offers {
  margin-top: 50px;
}
.section-offers h1 {
  margin-bottom: 10px;
}

.offers {
  text-align: right;
}
.offers p {
  font-size: 13px;
  padding-right: 8px;
  color: #FFFFFF;
  margin: 0;
  padding-top: 8px;
}
.offers__slide1 {
  width: 174px;
  height: 227px;
  background-color: #F39C4C;
  border-radius: 10px;
  background-image: url("../img/oil.png");
  background-repeat: no-repeat;
  margin-left: 25px;
}
.offers__slide2 {
  width: 174px;
  height: 227px;
  background-color: #E74C3C;
  border-radius: 10px;
  background-image: url("../img/automig.png");
  background-repeat: no-repeat;
  margin-left: 25px;
}
.offers__slide3 {
  width: 174px;
  height: 227px;
  background-color: #5ABF80;
  border-radius: 10px;
  background-image: url("../img/diagnostic.png");
  background-repeat: no-repeat;
  margin-left: 25px;
}
.offers__slide4 {
  width: 174px;
  height: 227px;
  background-color: #3192D9;
  border-radius: 10px;
  background-image: url("../img/instal.png");
  background-repeat: no-repeat;
  margin-left: 21px;
}
.offers__slide5 {
  width: 174px;
  height: 227px;
  background-color: #D3A11E;
  border-radius: 10px;
  background-image: url("../img/polirovka.png");
  background-repeat: no-repeat;
  margin-left: 21px;
}
.offers__slide6 {
  width: 174px;
  height: 227px;
  background-color: #5B5FC8;
  border-radius: 10px;
  background-image: url("../img/paint.png");
  background-repeat: no-repeat;
  margin-left: 25px;
}
.offers__slide7 {
  width: 174px;
  height: 227px;
  background-color: #BB41A0;
  border-radius: 10px;
  background-image: url("../img/glushiteli.png");
  background-repeat: no-repeat;
  margin-left: 19px;
}

.gradient {
  height: 22px;
  background: linear-gradient(180deg, rgba(243, 156, 76, 0) 0%, #F39C4C 100%);
  margin-top: 142px;
}

.gradient1 {
  height: 22px;
  background: linear-gradient(180deg, rgba(231, 76, 60, 0) 0%, #E74C3C 100%);
  margin-top: 142px;
}

.gradient2 {
  height: 22px;
  background: linear-gradient(180deg, rgba(90, 191, 128, 0) 0%, #5ABF80 100%);
  margin-top: 142px;
}

.gradient3 {
  height: 22px;
  background: linear-gradient(180deg, rgba(49, 146, 217, 0) 0%, #3192D9 100%);
  margin-top: 142px;
}

.gradient4 {
  height: 22px;
  background: linear-gradient(180deg, rgba(211, 161, 30, 0) 0%, #D3A11E 100%);
  margin-top: 142px;
}

.gradient5 {
  height: 22px;
  background: linear-gradient(180deg, rgba(91, 95, 200, 0) 0%, #5B5FC8 100%);
  margin-top: 142px;
}

.gradient6 {
  height: 22px;
  background: linear-gradient(180deg, rgba(187, 65, 160, 0) 0%, #BB41A0 100%);
  margin-top: 142px;
}

.section-services {
  margin-top: 65px;
}

.services h1 {
  margin-bottom: 21px;
}
.services__select {
  display: flex;
}
.services__uslugi {
  display: flex;
  margin-top: 11px;
}
.services__uslugi .uslugi {
  width: 174px;
  height: 174px;
  background-color: #FFFFFF;
  background-image: url("../img/vector.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  margin-right: 20px;
  text-align: center;
  padding-top: 125px;
  margin-top: 11px;
  background-position-y: 27px;
}

.popular__ser {
  width: 659px;
  height: 184px;
  background-color: #fff;
  margin-right: 20px;
  border-radius: 10px;
}

.section-popular {
  margin-top: 45px;
  margin-bottom: 45px;
}
.top {
  display: flex;
  align-items: center;
  height: 50px;
}
.top h1 {
  font-size: 18px;
  color: red;
}
.top p {
  font-size: 14px;
  padding-left: 240px;
}

.rating {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  padding-left: 15px;
}

.rating__item {
  font-size: 40px;
  color: #d2d6d9;
  cursor: pointer;
}

.rating__item:hover,
.rating__item:hover ~ .rating__item {
  color: #BC342D;
}

.rating[data-total-value="1"] .rating__item:nth-child(n+5),
.rating[data-total-value="2"] .rating__item:nth-child(n+4),
.rating[data-total-value="3"] .rating__item:nth-child(n+3),
.rating[data-total-value="4"] .rating__item:nth-child(n+2),
.rating[data-total-value="5"] .rating__item:nth-child(n+1) {
  color: #BC342D;
}

.center p {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  margin: 5px;
}

.top, .center, .bottom {
  margin-left: 14px;
  margin-right: 13px;
}

.bottom {
  display: flex;
  justify-content: right;
  align-items: baseline;
}
.bottom .img1 {
  padding-right: 28px;
}
.bottom .img2 {
  padding-right: 28px;
}
.bottom p {
  margin: 0;
}

.btm {
  height: 28px;
  width: 167px;
  left: 770px;
  top: 1821px;
  border-radius: 5px;
  background-color: #293747;
  color: #FFFFFF;
}

.blog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blog__history {
  width: 659px;
  left: 291px;
  top: 1956px;
  border-radius: 10px;
  background-color: #FFFFFF;
  padding: 12px 14px;
  margin-top: 15px;
}
.blog__history h1 {
  font-size: 16px;
  color: #BC342D;
  font-weight: 500;
  line-height: 18px;
}
.blog__history p {
  font-size: 14px;
  font-weight: 300;
}
.blog .top1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.blog .bottom1 {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.blog .bottom1 p {
  font-size: 12px;
}
.blog a {
  padding-left: 200px;
  text-decoration: none;
  font-size: 12px;
  color: #BC342D;
}

.percent {
  background-color: #E74C3C;
  width: 131px;
  height: 70px;
  border-radius: 0 10px 0 10px;
  padding-top: 10px;
  color: #FFFFFF;
  font-size: 48px;
  text-align: center;
}

.top3 {
  display: flex;
  justify-content: space-between;
}
.top3 h1 {
  padding-top: 15px;
  padding-left: 15px;
  color: #fff;
}

.bottom3 {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding-top: 10px;
}
.bottom3 p {
  font-size: 16px;
}
.bottom3 a {
  color: #FFFFFF;
  font-weight: 500;
  padding-right: 10px;
}

.fara, .marca, .model {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-right: 21px;
}

.mod, .marc, .far {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.text1 {
  display: flex;
  margin-top: 10px;
}

.section-about {
  margin-top: 63px;
}
.section-about h1 {
  padding-bottom: 16px;
}
.section-about p, .section-about h2 {
  font-size: 18px;
}

footer {
  background-color: #4D4D4D;
  height: 400px;
  margin-top: 50px;
}

.footer {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: #FFFFFF;
  padding-top: 16px;
}

@media (max-width: 1280px) {
  .wrap {
    width: 1170px;
  }

  .header .bonus__text {
    position: absolute;
    top: 48px;
    left: 1097px;
  }

  .right {
    width: 500px;
  }

  .left {
    width: 600px;
  }

  .calculation__raschet {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
